body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.character {
  background-color: darkkhaki;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.character img {
  width: 90px;
}

.character .liked {
  background-color: red;
}

.character .big {
  width: 125px;
}
